extends templates/default
block content

  h1= 'Pagina de inicio'
  if isAuthenticated
        p='Bienvenid@ ' + user.nombre
      div(class='row')
       div(class='col-md-6 col-md-offset-4')
            figure
             img(src="./images/log1.jpg", alt="SIADCOM", title="SIADCOM")
                       
      div(class="col-md-12 col-md-offset-0")
       div(class="jumbotron") 
            div(class="container")
            h1 Sistema de Administración Condominal 
            p Pago a Tiempo Servicion Completo
            tempor 
            p
            p(class="btn btn-primary btn-lg" role="button")="Leer más"
                  
                              